<link rel="stylesheet" href="/TG/css/formstyle.css" />

<div id ="TG">
</div>

</div>
<div class="container">
	<div style="background: #c2c2d6;height:200%; font-family: 'Gaegu', cursive; background-image: url('https://images.unsplash.com/photo-1505485493171-fde25bd8313f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1dc63e2028486fd5ca6648ab0a239ce1&auto=format&fit=crop&w=2100&q=80')"， class="jumbotron" >
  <h2 class="headCenterText"> Write your comment! </h2>
  <h3 class="headCenterText"> Express your ideas</h3>
</div>

<!--warning modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<!--modal title-->
				<h4 class="modal-title" id="myModalLabel">
					Warning
				</h4>
			</div>
			<!--body of modal-->
			<div class="modal-body" id="body">
        Title should be changed!
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<!-- check if all the input in the form is reasonable, if not, will not submit-->
<form method="post" action="" onsubmit="return validateForm()" id="commentForm">
	<!--input title-->
<input id="title" type="text" class="form-control required" placeholder="Please Input comment Title">
<br>
<input id="keyword" type="text" class="form-control required" placeholder="Please Input keywords">
<br>


<textarea id="commentBody" class="form-control required" rows="20" placeholder="Please Input Your Comment!"></textarea><br>

<button id="TrySubmit" type="submit" class="btn btn-primary">Submit</button><br><br>

<div style="height:100px"></div>
</form>
</div>

<!--top button to get the top of the website-->
<button onclick="topFunction()" id="myBtn" type="button" class="btn btn-primary" style="position: fixed; bottom: 20px;right: 30px;">Top</button>
<script>
 $(document).ready(function(){
     window.onscroll = function() {scrollFunction()};

     function scrollFunction() {
         if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
             document.getElementById("myBtn").style.display = "block";
         } else {
             document.getElementById("myBtn").style.display = "none";
         }
     }

     function topFunction() {
         document.body.scrollTop = 0;
         document.documentElement.scrollTop = 0;
     }
// define the event of the TrySubmit button
     $('#TrySubmit')
         .click(function(){

					 //get the input in the form
             var title = $('#commentForm #title').val();
             var keyword=$('#commentForm #keyword').val();
             var commentBody = $('#commentForm #commentBody').val();
						 //post request to server
             axios.post('/c/new', {
                 user: window.localStorage.getItem('username'),
                 title: title,
                 keyword: keyword,
                 commentBody: commentBody,
             }, {
							 //define headers
                 headers: { Authorization: 'Bearer ' + window.localStorage.getItem('token') }
             }).then(function (response) {
                 console.log(response);
                 if(response.status==403)
                     {
											 //if the response status is 403, sign-in-modal will show
                         console.log(12345);
                         $('#sign-in-modal').modal('show');
                         //  return false;
                     }
                 if (response.data.status == 'error') {
                     $('#myModal').modal('show');
                 } else if (response.data.status == 'success') {
									 //if response is true, jump to a new website with new generated comment 
                     window.location = response.data.url;
                 }
                 else {
                     //  location.href(response.xxxx); response.status==403
                 }
             }).catch(function (error) {
                 if (error.response.status == 403) {
                     $('#sign-in-modal').modal('toggle');
                 }
                 console.log(error);
             });
             console.log(title);
             return false;
         });
 });


</script>

<script src="http://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
