body { padding-top: 70px; }
body,html{
        margin:0px;
        height:100%;
        font-family: sans-serif;
}

.navbar-inverse {
      background: #2c3e50;  /*darkblue:#4dffdb  ; light orange:rgb(220, 70, 0), #dc4600*/
      color: white;
    }

.navbar-inverse .navbar-brand, .navbar-inverse a{
      color:white;
    }

.navbar-inverse .navbar-nav>li>a {
      color: white;
    } 

.navbar-inverse .navbar-nav>li>a:hover{
      background-color: black;
      color:white;
    } 

nav{
        border: none;
    }

.navbar{border-bottom: none;}    

.jumbotron {
      color: #2c3e50;
      height: 10%;
      width: 100%;
      /*background-image: url(boston.jpg);*/
    }

.jumbotron h1{
	font-family: Indie Flower;
	font-size: 50px;
	padding-bottom: 20px;
	text-transform: uppercase;
	color: #2c3e50;
}

.jumbotron p{
	font-family: Indie Flower;
	color: #2c3e50;
	
}


        h2{
        	font-family: Do Hyeon;
			font-size: 40px;
			
			text-transform: uppercase;
        }
        h3{
        	font-family: Anton;
			font-size: 20px;
			
			text-transform: uppercase;        	
        }
        #container1 {
            width: 100%;
            height: 300px;
            overflow: hidden;
			padding-bottom: 20px;
        }
        .sections,.section {
            height:100%;
			
        }
        #container1,.sections {
            position: relative;
        }
        .section {
            background-color: #000;
            background-size: cover;
            background-position: 50% 50%;
            text-align: center;
            color: white;
        }

/*#section0 {
    background-image: url('./image/boston-jumbotron-600501-unsplash-2.jpg');

}

#section1 {
    background-image: url('./image/red_sox.jpg');
}

#section2 {
	background-image: url('./image/Cirque du Soleil_Luzia.jpg');
}*/