
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1477149389'); /* IE9*/
  src: url('iconfont.eot?t=1477149389#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1477149389') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1477149389') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1477149389#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:5vh;
  color: #D4D4D4;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.iconfontSearch {
  font-family:"iconfont" !important;
  font-size:3vh;
  color: #B8B8B8;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.iconfontFunction {
  font-family:"iconfont" !important;
  font-size:36px;
  color: #D4D4D4;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}



.icon-mima:before { content: "\e60d"; }

.icon-shanchu:before { content: "\e600"; }

.icon-sousuo:before { content: "\e601"; }

.icon-fanhui:before { content: "\e602"; }

.icon-tishi:before { content: "\e60e"; }

.icon-guanbi:before { content: "\e603"; }

.icon-geren:before { content: "\e604"; }

.icon-shibai:before { content: "\e60f"; }

.icon-xinzengshangjialianxiren:before { content: "\e605"; }

.icon-rizhi:before { content: "\e606"; }

.icon-chenggong:before { content: "\e610"; }

.icon-xiugai:before { content: "\e60c"; }

.icon-addlog:before { content: "\e607"; }

.icon-xiangqing:before { content: "\e608"; }

.icon-lianxiren:before { content: "\e609"; }

.icon-bplus:before { content: "\e60a"; }

.icon-shouye-copy:before { content: "\e60b"; }

.icon-youjian:before { content: "\e623"; }

.icon-renwu:before { content: "\e678"; }

.icon-yiyuan:before { content: "\e611"; }

.icon-tongji:before { content: "\e613"; }


