@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Merriweather);


/* general text formatting */

body { padding-top: 70px; }
.jumbotron {
    color: #2c3e50;
    background: #ecf0f1;

}

.row  {
    margin:10px 0px;
    border: 0.4px #f1f9ea;
    text-align:left;
}

.navbar-inverse {
    background: #2c3e50;
    color: white;
}
.navbar-inverse .navbar-brand, .navbar-inverse a{
    color:white;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

nav{
    border: none;
}

.headText
{
    text-align:center;
}

.headCenterText
{
    text-align:center;
    color:white
}
.paragraph{
    text-indent:0px;
    font-size:180%;
    text-align:left;
    font-family:15px;
}
.user
{
    text-indent: 10px;
    font-weight: bold;
}
.commenttag
{
    color:#5c8cd5;
}
.Comcontainer {
    padding-right: 10px;
    padding-left: 10px;

}
.text-info
{
    font-size:3;
}
table {
   width: 90%;
   margin: 0 auto;
}
table tbody td{
   vertical-align: top;
}

legend {
   background-color: #616161 ;
    color: white;
   margin: 0 auto;
   width: 90%;
   padding: 0.25em;
   text-align: center;
   font-weight: bold;
   font-size: 24px;
}
fieldset {
   margin: 1em auto;
   background-color: #F5F5F5;
   width: 70%;
}


.sender{
            clear:both;
        }
        .sender div:nth-of-type(1){
            float: left;
        }
        .sender div:nth-of-type(2){
            background-color: #efeff5;
            float: left;
            margin: 0 20px 10px 15px;
            padding: 10px 10px 10px 0px;
            border-radius:7px;
        }

        .receiver div:first-child img,
        .sender div:first-child img{
          width:50px;
           height: 50px;
        }

        .receiver{
            clear:both;
        }
        .receiver div:nth-child(1){
            float: right;
        }
        .receiver div:nth-of-type(2){
            float:right;
            background-color: #efeff5;
            margin: 0 10px 10px 20px;
            padding: 10px 0px 10px 10px;
            border-radius:7px;
        }

        .left_triangle{
            height:0px;
            width:0px;
            border-width:8px;
            border-style:solid;
            border-color:transparent #efeff5 transparent transparent;
            position: relative;
            left:-16px;
            top:3px;
        }

        .right_triangle{
            height:0px;
            width:0px;
            border-width:8px;
            border-style:solid;
            border-color:transparent transparent transparent #efeff5;
            position: relative;
            right:-16px;
            top:3px;
        }

/*.error {
    background: #FFCDD2 url(error.png) no-repeat 98% center;
    box-shadow: 0 0 5px #FF5252;
    border-color: #FF1744;
}
.hilightable:focus
{

    background-color:orange;
}*/
