<link rel="stylesheet" href="/TG/css/formstyle.css" />
<link href="https://fonts.googleapis.com/css?family=Cabin|Cute+Font|Dancing+Script|Dosis|Gaegu|Gamja+Flower|Great+Vibes|IBM+Plex+Mono|Quicksand|Satisfy|Titillium+Web" rel="stylesheet">

<div id ="TG">
</div>

</div>
<div class="container">
  <!-- define the banner-->
<div class="jumbotron" >
  <h2 style="text-align: center;font-family: 'Gaegu', cursive;" > Write your own guide </h2>
  <h3  style="text-align: center;font-family: 'Gaegu', cursive;" > Express your ideas</h3>
</div>

<!-- warning modal, it is hiden in normal case, will show in certain conditions-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
        <!--button to close the modal-->
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
        <!--define the modal title-->
				<h4 class="modal-title" id="myModalLabel">
					Warning
				</h4>
			</div>
      <!-- define the modal body-->
			<div class="modal-body" id="body">
        Title should be changed!
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<!--upload form for user to input and create their own guide--->
<form method="post" action="" onsubmit="return validateForm()" id="guideForm">
<input id="title" type="text" class="form-control required" placeholder="Please Input Travel Guide Title">
<br>
<!--input keywords-->
<input id="keyword" type="text" class="form-control required" placeholder="Please Input keywords">
<br>
<input id="banner" type="text" class="form-control required" placeholder="Please Input image">
<br>
<!--input specific guide content-->
<textarea id="content" class="form-control required" rows="20" placeholder="Please Input Your Travel Guide!"></textarea><br>
<!--submit button-->
<button id="TrySubmit" type="submit" class="btn btn-primary">Submit</button><br><br>

<div style="height:100px"></div>
</form>

</div>

<!-- top button toget to the top of the website-->

<button onclick="topFunction()" id="myBtn" type="button" class="btn btn-primary" style="position: fixed; bottom: 20px;right: 30px;">Top</button>
<script>
 $(document).ready(function(){
     window.onscroll = function() {scrollFunction()};

     function scrollFunction() {
         if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
             document.getElementById("myBtn").style.display = "block";
         } else {
             document.getElementById("myBtn").style.display = "none";
         }
     }

     function topFunction() {
         document.body.scrollTop = 0;
         document.documentElement.scrollTop = 0;
     }

//define the action of TrySubmit button
     $('#TrySubmit')
         .click(function(){
             if (!validateForm()) {
                 return false;
             }

             //get the input content in the from
             var title = $('#guideForm #title').val();
             var keyword=$('#guideForm #keyword').val();
             var content = $('#guideForm #content').val();
             var banner=$('#guideForm #banner').val();
             //post request to server
             axios.post('/g/new', {
                 user: window.localStorage.getItem('username'),
                 title: title,
                 keyword: keyword,
                 content: content,
                 banner:banner
             }, {
               //create the post headers
                 headers: { Authorization: 'Bearer ' + window.localStorage.getItem('token') }
             }).then(function (response) {
                 console.log(response);
                 if(response.status==403)
                     {
                       //if response status is 403, which means user hasn't sign-in
                       //sign-in-modal will show
                         $('#sign-in-modal').modal('show');
                         //  return false;
                     }
                 if (response.data.status == 'error') {
                   //when the response is error, which means the title should be changed
                     $('#myModal').modal('show');
                 } else if (response.data.status == 'success') {
                     window.location = response.data.url;
                 }
                 else {
                     //  location.href(response.xxxx); response.status==403
                 }
             }).catch(function (error) {
                 if (error.response.status == 403) {
                     $('#sign-in-modal').modal('toggle');
                 }
                 console.log(error);
             });
             console.log(title);
             return false;
         });
 });


</script>

<script src="/TG/js/ErrorProcess.js"></script>
<script src="http://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
