<!DOCTYPE html>
<html>
<head>
	<title>Entertainment Main Page</title>
<link rel="stylesheet" href="transportation_new/transportation1.css">


  	<style type="text/css">
    body { padding-top: 70px; }
    .jumbotron {
      color: #fffffe;
      background: #ecf0f1;
    }
    .navbar-inverse {
      background: #2c3e50;  /*darkblue:  ; light orange:rgb(220, 70, 0), #dc4600*/
      color: white;
    }
    .navbar-inverse .navbar-brand, .navbar-inverse a{
      color:white;
    }
    .navbar-inverse .navbar-nav>li>a {
      color: white;
    }
    nav{
    	border: none;
    }
  </style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" style="display:none">
    <div class="container">
      <div class="navbar-header">
        <!-- The hamburger on the right -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a href="#############" class="navbar-brand">TravelPartner</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-nav-demo">
        <ul class="nav navbar-nav">
          <li><a href="############">Guide</a></li>
          <li><a href="############">Food</a></li>
          <li><a href="############">Transpotration</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="############">Sign Up</a></li>
          <li><a href="############">Login</a></li>
        </ul>
      </div>


    </div>
  </nav>
	<div style="text-align:center" class="container">
		 <div style="background-image: url(images/transportbackground.jpg)"， class="jumbotron" >
   			<h2>   Finding the way to the right place! </h2> <!-- <i class="fa fa-camera-retro"></i> -->
   			<p> Local Map Recommendation and the transportation!</p>
  		 </div>


<div style="text-align:center" >
  <h3>Boston Subway Map</h3>
</div>



<br/>
<br/>
<div id="container">
<div id="photo">
	<a href="https://cdn.mbtace.com/sites/default/files/maps/2018-04-map-rapid-transit-key-bus-v31a.pdf">
	<img src="https://www.cambooth.net/wp-content/uploads/2012/03/Boston_Current_Bus_2017_1200px-720x480.jpg" style="height:400px;width:600px;">
</a>
</div>
<div id="content">
<h5 align="left">RedLine:Alewife->Davis->Porter->Harvard->Central->Kendall->Charles/MGH</h5>
<h5 align="left">->Braintree->Park Street->Downtown Croosing->South Station->Broadway</h5>
<br/>

<h5 align="left">GreenLine:Boston College->Cleveland Circle->Riverside->Kenmore->Hynes -</h5>
<h5 align="left">Convention Center->Heath Street->Copley->Arlington->Boylston->Park Str-</h5>
<h5 align="left">eet->Government Center->Hay market</h5>
<br/>

<h5 align="left">OrangeLine:Oak Grove->Malden Center->Wellington->Assembly->Sullivan->C-</h5>
<h5 align="left">ommunity College->North Station->Haymarket->State Street->Downtown Cro-</h5>
<h5 align="left">ssing->Chinatown->Tufts Medical Center->Back Bay->Massachusetts Ave.-></h5>
<h5 align="left">Ruggles->Roxbury Crossing->Jackson Square->Stony Brook->Forest Hills</h5>
<br/>

<h5 align="left">BlueLine:Wonderland->Revere Beach->Beachmont->Suffolk Downs->Orient-></h5>
<h5 align="left">Wood Island->Airport->Maveric->Aquarium->State Street->Bowdoin</h5>
</div>
</div>
</div>
<style>
#container {width: 100%;}
#photo {float: left; width: 55%;}
#content {float: right; width: 45%;}
</style>


</br>
</br>
<h3 style="text-align:center">Great attractions</h3>
</br>
  <div class="container">
  <div class="row">
		{{#each attraction}}
    <div class="col-xs-3 " >
      <a href="#" class="thumbnail">

        <img src="{{image_source}}" >
      </a>

  <div class="caption">
          <h5>{{name}}</h5>
          <div class="item tags">{{description}}</div>
          <br>

        </div>

    </div>
		{{/each}}
	</div>
  </div>




<style>
img{
  width:300px;
}
div.col-xs-3{
text-align:center;
}
</style>

<!-- Top function-->
<button onclick="topFunction()" id="myBtn" type="button" class="btn btn-primary" style="position: fixed; bottom: 20px;
            right: 30px;">Top</button>

<script>
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20)
{
		document.getElementById("myBtn").style.display = "block";
}
		else {
		document.getElementById("myBtn").style.display = "none";
				 }
}
function topFunction() {
		 document.body.scrollTop = 0;
		 document.documentElement.scrollTop = 0;
						            }
</script>

<script src="http://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
