<!DOCTYPE html>
<html>
<head>
	<title>Entertainment Main Page</title>
<link rel="stylesheet" href="transportation_new/transportation1.css">
<link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">


  	<style type="text/css">
    body { padding-top: 70px; }
    .jumbotron {
      color: #fffffe;
      background: #ecf0f1;
    }
    .navbar-inverse {
      background: #2c3e50;  /*darkblue:  ; light orange:rgb(220, 70, 0), #dc4600*/
      color: white;
    }
    .navbar-inverse .navbar-brand, .navbar-inverse a{
      color:white;
    }
    .navbar-inverse .navbar-nav>li>a {
      color: white;
    }
    nav{
    	border: none;
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" style="display:none">

    <div class="container">
      <div class="navbar-header">
        <!-- The hamburger on the right -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a href="#############" class="navbar-brand">TravelPartner</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-nav-demo">
        <ul class="nav navbar-nav">
          <li><a href="############">Guide</a></li>
          <li><a href="############">Food</a></li>
          <li><a href="############">Transpotration</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="############">Sign Up</a></li>
          <li><a href="############">Login</a></li>
        </ul>
      </div>



    </div>
  </nav>
	<div style="text-align:center" class="container">
		 <div style="background-image: url(http://imgsrc.baidu.com/imgad/pic/item/8c1001e93901213fe4f56c425ee736d12e2e956d.jpg)"， class="jumbotron" >
   			<h2 style="font-family:Gamja Flower">   Finding the way to the right place! </h2> <!-- <i class="fa fa-camera-retro"></i> -->
   			<p style="font-family:Gamja Flower"> Local Map Recommendation and the Subway transportation!</p>
  		 </div>


<br>
<div style="text-align:center" >
  <h1 style="font-family:Gamja Flower">Boston Subway Map</h1>
</div>



<br/>
<br/>
<div id="container">
<div id="photo">
	<a href="https://cdn.mbtace.com/sites/default/files/maps/2018-04-map-rapid-transit-key-bus-v31a.pdf">
	<img src="https://www.cambooth.net/wp-content/uploads/2012/03/Boston_Current_Bus_2017_1200px-720x480.jpg" style="height:430px;width:600px;">
</a>
</div>
<div id="content">
<h4 align="left" style="font-family:Jua">RedLine:Alewife->Davis->Porter->Harvard->Central->Kendall->Charles/MGH->Braintree->Park Street->Downtown Croosing->South Station->Broadway</h4>
<br/>

<h4 align="left" style="font-family:Jua">GreenLine:Boston College->Cleveland Circle->Riverside->Kenmore->HynesConvention Center->Heath Street->Copley->Arlington->Boylston->Park Street->Government Center->Hay market</h4>
<br/>

<h4 align="left" style="font-family:Jua">OrangeLine:Oak Grove->Malden Center->Wellington->Assembly->Sullivan->Community College->North Station->Haymarket->State Street->Downtown Crossing->Chinatown->Tufts Medical Center->Back Bay->Massachusetts Ave.->Ruggles->Roxbury Crossing->Jackson Square->Stony Brook->Forest Hills</h4>
<br/>

<h4 align="left" style="font-family:Jua">BlueLine:Wonderland->Revere Beach->Beachmont->Suffolk Downs->Orient->Wood Island->Airport->Maveric->Aquarium->State Street->Bowdoin</h4>
</div>
</div>
</div>
<style>
#container {width: 100%;}
#photo {float: left; width: 55%;}
#content {float: right; width: 45%;}
</style>


</br>
</br>
<h1 style="text-align:center;font-family:Gamja Flower">Great attractions</h1>
</br>
  <div class="container">
  <div class="row">
		{{#each attraction}}
    <div class="col-xs-3 " >
      <a href="#" class="thumbnail">

        <img src="{{image_source}}" >
      </a>

  <div class="caption">
          <h3 style="font-family:Gamja Flower">{{name}}</h3>
          <div style="font-family:Jua;size=3" class="item tags">{{description}}</div>
					
          <br>

        </div>

    </div>
		{{/each}}
	</div>
  </div>




<style>
img{
  width:300px;
}
div.col-xs-3{
text-align:center;
}
</style>

<!-- Top function-->
<button onclick="topFunction()" id="myBtn" type="button" class="btn btn-primary" style="position: fixed; bottom: 20px;
            right: 30px;">Top</button>

<script>
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20)
{
		document.getElementById("myBtn").style.display = "block";
}
		else {
		document.getElementById("myBtn").style.display = "none";
				 }
}
function topFunction() {
		 document.body.scrollTop = 0;
		 document.documentElement.scrollTop = 0;
						            }
</script>

<script src="http://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
